.background {
  display: flex;
  justify-content: center;
  background-image: url("/BackgroundGrayCollaborations.png");
  background-position: center;
  background-size: cover;
  height: 2000px;
  width: auto;
}

.megaContainer {
}

.header {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  margin-top: 15rem;
}

.container01 {
  display: flex;
  justify-content: center;
}

.container02 {
}

.container03 {
}

.text1 {
}

.text2 {
}

.kreise {
}
