.background {
  display: flex;
  justify-content: center;
  background-image: url("/BackgroundBlackDesigners.png");
  background-position: center;
  background-size: cover;
/*   height: 800px; */
}

.white {
  background-color: #f1f2f1;
  width: 1280px;
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  gap: 10px;
  border-radius: 25px;
  padding-top: 80px;
  padding-bottom: 150px;
}

h1 {
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform 0.5s ease; /* Smooth transition */
}
h1:hover {
  transform: scale(1.2); /* Scale up by 20% */
}

.titles{
  display: flex;
  flex-direction: column;
  justify-content: left;
 

}

.undertitle {
  font-weight: 200;
}

.dotimage{
  margin-top: 30px;
  margin-bottom: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  text-align: justify;
  margin-right: 20px;
  font-size: 10px;
  animation: slideFromLeft 5s ease forwards; /* Animation effect */
  opacity: 0; /* Initially hidden */
}

@keyframes slideFromLeft {
  from {
      transform: translateX(-100%); /* Start position off screen to the left */
      opacity: 0;
  }
  to {
      transform: translateX(0); /* End position on screen */
      opacity: 1;
  }

}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 10px;
  text-align: justify;
margin-right: 20px;
animation: slideFromRight 4s ease forwards; /* Animation effect */
        opacity: 0; /* Initially hidden */
    }

    @keyframes slideFromRight {
        from {
            transform: translateX(100%); /* Start position off screen to the right */
            opacity: 0;
        }
        to {
            transform: translateX(0); /* End position on screen */
            opacity: 1;
        }
    }

.midd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin-right: 30px;

}