.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    background-color: black;
    border: 1px solid black;
    padding: 10px; 
    height: 50px;
    border-bottom-right-radius: 35px;
    width: 500px; 
    color:  #A5A5A5;
    
    position: fixed; /* Set position to fixed */
        top: -60px; /* Initially above the viewport */
        
        z-index: 10;
        
        animation: slideFromTop 5s ease forwards; /* Animation effect */
    }

    @keyframes slideFromTop {
        from {
            top: -60px; /* Start position above the viewport */
        }
        to {
            top: 0; /* End position at the top of the viewport */
        }
    }

  .rabbit {
    width: 30px; 
    height: auto;
  }

  .at {
    color:  #A5A5A5;
    text-decoration: none;
    font-size: 10px;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
  }

  .at:hover {
    color: white;
    font-size: 16px; 
  }

  .ati {
    color: white;
    text-decoration: none;
    font-size: 8px;
  }

